<h1>List af All Articles</h1>

<%= link_to 'New Article', new_article_path, class: 'btn btn-warning' %>
<br>
<br>

<table class="table table-bordered table-hovered">
    
    <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Time of creation</th>
            <th colspan='2'></th>
        </tr>
    </thead>
    
    <tody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.text %></td>
                <td><%= article.created_at %></td>
                <td><%= link_to 'Show', article_path(article), class: 'btn btn-success' %></td>
                <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %></td>
            </tr>
        <% end %>
    </tody>
    
</table>